body{

    background-color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seri
    
}

div{
    background-color: brown;
    font-family: 'Courier New', Courier, monospace;
    float: left;
}